body{
    font-family: 'Michroma', sans-serif;
    background-image: url(fundo_do_mar.jpeg)
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 5px rgb(150, 241, 188) solid;
    background-color: rgba(0, 99, 82, 0.575);
}
h1, p, li{
    color: rgb(136, 236, 243);
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;       
}
a:hover{
    text-decoration: none;
    color: inherit;
}

ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    font-size: x-large;
    padding: 0;
    margin-top: 35px;
}


.titulos{
    text-align: center;
    font-size: 70px;
}